.env
.env-test
.ipynb_checkpoints
web.*
www-data/www*
www-data/*.com
www-data/*.net
www-data/*.tv
www-data/*.jp
www-data/*.town
www-data/*.info
www-data/*.fun
www-data/8*
www-data/map/
www-data/wget-log*
www-data/index.html
www-data/index.json
*.jp
!grep_test.sh
*.swp
*.tmp
*.log
tmp/*
node_modules/
