version: 2.1
jobs:
  build:
    docker: 
      - image: ubuntu:18.04
    steps:
      - checkout # check out the code in the project directory
      - run: apt-get update && apt-get install -y make
      - run: make test

